.container {
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
  	align-items: center;

	background-color: greenyellow;
	fill-opacity: 50%;
}

.butao {
	border-radius: 8px;
	height: 50px;
	width: 150px;
	background-color: green;
	color: white;
	border: 0px;
}

.description {
	text-align: center;
}

.tableView {
	display: flex;
	flex-direction: column;
	background-color: darkolivegreen;
}

.categoria {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header{
	font: bold 20pt Arial;
}

body {
	background-image: url(imagem_fundo_01.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: black;
	font: normal 15pt Arial;
}

.faleConosco {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.freepik {
	text-align: end;
}