.container {
	display: flex;
	flex-direction: row;
	
	justify-content: space-between;
  	align-items: center;

	background-color: greenyellow;
	fill-opacity: 50%;

	padding-left: 10px;
	padding-right: 10px;
}

.butao {
	border-radius: 8px;
	height: 40px;
	width: 120px;
	background-color: green;
	color: white;
	border: 0px;
}

.arrow {
	padding-top: 15px;
	padding-right: 2px;
}

.description {
	text-align: center;
}

.tableView {
	display: flex;
	flex-direction: column;
	background-color: darkolivegreen;
}

.categoria {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

head {
	font: bold 20pt Arial;
	height: 50px;
}

body {
	background-image: url(imagens/greenBackground.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	color: black;
	font: normal 15pt Arial;
}

footer {
    position: absolute;
    bottom: 1px;
    width: 99%;
}

.rodape {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}